.ai-assistant-select-assistant-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #3e3e3e;
}
.ai-assistant-select-assistant-cards {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: 1440px;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  border-color: var(--dl-color-gray-700);
  border-width: 1px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.ai-assistant-select-assistant-image {
  width: 200px;
  object-fit: cover;
}
.ai-assistant-select-assistant-text {
  color: var(--dl-color-gray-black);
  font-size: 40px;
  margin-left: 100px;
  margin-right: 100px;
}
.ai-assistant-select-assistant-navlink {
  color: var(--dl-color-gray-white);
  margin-left: 100px;
  text-decoration: none;
  background-color: var(--dl-color-primary-500);
}
.ai-assistant-select-assistant-cards1 {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: 1440px;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  border-color: var(--dl-color-gray-700);
  border-width: 1px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.ai-assistant-select-assistant-image1 {
  width: 200px;
  object-fit: cover;
}
.ai-assistant-select-assistant-text1 {
  color: var(--dl-color-gray-black);
  font-size: 40px;
  margin-left: 100px;
  margin-right: 100px;
}
.ai-assistant-select-assistant-button {
  color: var(--dl-color-gray-white);
  margin-left: 100px;
  background-color: var(--dl-color-primary-500);
}
.ai-assistant-select-assistant-cards2 {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: 1440px;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  border-color: var(--dl-color-gray-700);
  border-width: 1px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: 52px;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.ai-assistant-select-assistant-image2 {
  width: 200px;
  object-fit: cover;
}
.ai-assistant-select-assistant-text2 {
  color: var(--dl-color-gray-black);
  font-size: 40px;
  margin-left: 100px;
  margin-right: 100px;
}
.ai-assistant-select-assistant-button1 {
  color: var(--dl-color-gray-white);
  margin-left: 100px;
  background-color: var(--dl-color-primary-500);
}
@media(max-width: 1200px) {
  .ai-assistant-select-assistant-container {
    background-color: var(--dl-color-gray-white);
  }
  .ai-assistant-select-assistant-image {
    width: 160px;
    height: 160px;
  }
  .ai-assistant-select-assistant-image1 {
    width: 160px;
    height: 160px;
  }
  .ai-assistant-select-assistant-image2 {
    width: 160px;
    height: 160px;
  }
}
@media(max-width: 767px) {
  .ai-assistant-select-assistant-cards {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .ai-assistant-select-assistant-cards1 {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .ai-assistant-select-assistant-cards2 {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
}
