.cards-cards {
  gap: var(--dl-space-space-fiveunits);
  width: 1200px;
  height: 284px;
  display: flex;
  position: relative;
  max-width: 1440px;
  align-items: center;
  padding-top: 20px;
  padding-left: 29px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.cards-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.cards-text {
  color: var(--dl-color-gray-black);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: 1px;
  padding-right: 1px;
  padding-bottom: var(--dl-space-space-threeunits);
}
.cards-text1 {
  color: var(--dl-color-gray-black);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: 1px;
  padding-right: 1px;
  padding-bottom: var(--dl-space-space-threeunits);
}
.cards-container1 {
  flex: 0 0 auto;
  width: 783px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.cards-textarea {
  width: 783px;
  height: 100px;
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
.cards-textarea1 {
  width: 783px;
  height: 100px;
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}


@media(max-width: 767px) {
  .cards-cards {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
}
